html {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #414652;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

button {
    font-weight: bold;
    color: #000;
    border: none;
    font-size: 16px;
    width: fit-content;
    cursor: pointer;
}

#infoContainer {
    background: #aaa;
    padding: 15px;
    border-radius: 25px 25px 0 0;
    width: auto;
    margin: 15px auto 0 auto;
    display: flex;
    justify-content: space-between;
}

#scrollDown {
    text-align: center;
    width: 100px;
    z-index: 120;
    position: absolute;
    left: 0;
    right: 0;
    padding: 8px 10px 0 10px;
    margin: -10px auto auto auto;
    background: #aaa;
    width: fit-content;
    border-radius: 0 0 15px 15px;
}

.scrollDownArrow {
    display: block;
    margin: auto;
    width: 62px;
}

#playerId,
#playerLife,
#playerAmmunition,
#goTop {
    z-index: 100;
    position: absolute;
    left: 0;
    right: 0;
    padding: 10px 12px;
    background: #aaa;
}

#playerId {
    margin: -1px auto 0 auto;
    border-radius: 0 0 15px 15px;
}

#playerLife {
    margin: -1px auto 0 0;
    border-radius: 0 0 15px 0;
}

#playerAmmunition {
    margin: -1px 0 0 auto;
    border-radius: 0 0 0 15px;
}

#goTop {
    border-radius: 15px 0 0 15px;
    margin: 48px 0 0 auto;
    padding: 8px 4px 8px 8px;
}

#joysticks {
    width: 100%;
    height: 100%;
    background-color: #212530;
    border-radius: 0 0 35px 35px;
    touch-action: none;
    cursor: pointer;
}

#joystickLeft {
    position: absolute;
    left: 0;
    bottom: -50;
    width: 50%;
    height: 100vh;
    border-right: dashed #555 1px;
}

#joystickRight {
    position: absolute;
    right: 0;
    bottom: -50;
    width: 50%;
    height: 100vh;
    border-left: dashed #555 1px;
}

.deadBackground {
    background-image: url("images/dead_face.png"), url("images/dead_background.png");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: 90vh, 30px;
    image-rendering: pixelated;
}

.controlInfo {
    background-image: url("images/control_info.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    image-rendering: pixelated;
}

#rotatePhone {
    width: 100%;
    height: 430px;
    padding-top: 20px;
    background-color: #212530;
    border-radius: 0 0 35px 35px;
    background-image: url("images/rotate_phone.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 330px;
    image-rendering: pixelated;
}

@media screen and (orientation:portrait) {

    #joysticks,
    #playerLife,
    #playerAmmunition,
    #goTop,
    #scrollDown,
    .menuGame {
        display: none;
    }

    body {
        padding: 0 20px;
        width: auto;
        height: auto;
    }
}

@media screen and (orientation:landscape) {
    #rotatePhone {
        display: none;
    }

    #eruda {
        display: none !important;
    }
}